@model string
@{
    Layout = "~/Views/Shared/_SvgPreviewLayout.cshtml";
}

    @Html.Raw(Model)

<!-- PDFダウンロードボタン -->
<div class="text-center mt-4">
    <form method="get" action="@Url.Action("DownloadPdf", "YourController")">
        <button type="submit" class="btn btn-primary btn-lg">PDFをダウンロード</button>
    </form>
</div>

<style>


</style>
<script src="/js/site.js"></script>
<script>

    // 複数の処理をまとめて実行する
    window.onload = function () {
        updateTextPositions();
        resizeTextToFit();
        
    };

    // ウィンドウサイズ変更時にもフォントサイズを再調整
    window.addEventListener('resize', resizeTextToFit);
</script>
