@page {
    size: A4 portrait;
    margin: 0mm; /* No header/footer margins */
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    color-adjust: exact;
}

svg {
    width: 210mm;
    height: 290mm;
    page-break-after: always;
}
/* For preview */
@media screen {
    body {
        background: #ccc;
        margin: 0 auto;
    }

    svg {
        background: #fff;
        box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
        margin-top: 5mm;
    }
}

@media print {
    /*ˆóü‚Íƒ{ƒ^ƒ“‚ğ”ñ•\¦*/
    #downloadPdfBtn {
        display: none;
    }
}
